import( GenomicRanges )
import( methods )
import( grid )
importFrom( IRanges, unlist, runmean )
importFrom( BiocGenerics, setdiff, rbind )
importFrom( genefilter, rowttests )
importFrom( lattice, draw.colorkey, panel.levelplot, level.colors, panel.grid, panel.fill )
importFrom( Rsamtools, ScanBamParam, scanBamFlag, scanBam )
importFrom( RMySQL, MySQL, dbEscapeStrings, dbMoreResults, dbNextResult )
importFrom( DBI, dbClearResult, dbConnect, dbDisconnect, dbHasCompleted, dbListResults, dbSendQuery, fetch )
importFrom( digest, digest )
importFrom( Biobase, exprs, pData )
exportPattern("^[^\\.]")
